body {
  background-color: black;
  margin: 0;
  color: white;
}

.mb-14 {
  margin-bottom: 14px;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 1394px;
  text-align: center;
}

.page-width {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
}

.logo img {
  height: 151px;
  width: 151px;
  margin-top: 20px;
  margin-bottom: 52px;
}

.wrapper{
  display: flex;
  justify-content: space-between;
}

.subcontainer{
  max-width: 679px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.aside{
  max-width: 391px;
  width: 35%;
  margin-bottom: 41px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  margin-bottom: 49px;
}

.progress-bar {
  max-width: 616px;
  width: 100%;
  padding: 10px;
  border-radius: 42px;
  background-color: #D9D9D9;
}

.progress-percentage {
  display: block;
  max-width: 616px;
  border-radius: 42px;
  background-color: black;
  width: 30px;
  height: 27px;
}

.running .progress-percentage{
  width: 340px;
}

.aside .phenotype-preview img{
  width: 100%;
  height: 100%;
}

.timer {
  background-color: #D9D9D9;
  color: black;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  padding: 14px 21px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.button-experience {
  background-color: #C2DBF1;
  padding: 24px 0px;
  border-radius: 42px;
  border: 1px solid #000000;
  font-family: "Proto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: space-between;
  width: 100%;
  max-width: 390px;
}

.running .button-experience{
  background-color: black;
  border: 1px solid #ffffff;
}

.running .button-experience span:last-child{
  width: auto;
  height: auto;
  font-family: 'Proto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #C2DBF1
}

.button-experience div {
  width: 100%;
  padding: 0 48px;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: space-between;
}

.running .button-experience div{
  justify-content: center;
  color: #ffffff;
}

.button-experience span:last-child {
  width: 34px;
  height: 34px;
}

.button-change {
  background-color: #C2DBF1;
  padding: 27px 0;
  border-radius: 42px;
  border: 1px solid #000000;
  font-family: "Proto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  max-width: 390px;
}

.running .button-change{
  background-color: #B8B8B8;
}

.button-change div {
  padding: 0 48px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-between;
}

.button-change span:last-child {
  color: #000000;
}

.button-start {
  max-width: 140px;
  width: 100%;
  background: #B7C4A7;
  border-radius: 42px;
  padding: 28px 56px;
  color: #000000;
  border: 1px solid #000000;
  font-family: 'Proto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.running .button-start{
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button-cancel {
  max-width: 140px;
  width: 100%;
  background: #000000;
  border-radius: 42px;
  padding: 28px 56px;
  color: #C199AF;
  border: 1px solid #C199AF;
  font-family: 'Proto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.running .button-cancel{
  background-color: #C199AF;
  color: #000000;
}

.button-publish {
  width: 100%;
  background: #000000;
  border-radius: 42px;
  padding: 28px 0px;
  color: #B7C4A7;
  border: 1px solid #B7C4A7;
  font-family: 'Proto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.running .button-publish{
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.phenotype-preview {
  border: 6px solid #C2DBF1;
  height: 354px;
  border-radius: 57px;
  margin-bottom: 41px;
}

.running .phenotype-preview{
  border: none;
}

.phenotype-preview img{
  width: 100%;
  height: 100%;
}

.wave-visualizer {
  border: 1px dashed #D9D9D9;
  width: 100%;
  height: 272px;
  border-radius: 57px;
  margin-bottom: 14px;
}

.wave-visualizer img{
  width: 100%;
  height: 100%;
}

.random-sequence {
  border: 1px dashed #D9D9D9;
  border-radius: 42px;
  width: 100%;
  height: 83px;
}

/* Modal */

.bg-black {
  background-color: #000000;
}

.bg-gray {
  background-color: #C5C5C5;
}

.active {
  display: block !important;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
  backdrop-filter: blur(10px);
  display: none;
}

.modal-container {
  width: 451px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  background: #D9D9D9;
  padding: 31px 30px 39px;
  border-radius: 29px;
  gap: 8px;
}

.modal-title {
  padding: 28px 0px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  text-align: center;
  font-family: 'Proto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.modal-option-wrapper {
  background: #C5C5C5;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  padding: 28px 0;
}

.modal-option-wrapper:hover {
  cursor: pointer;
}

.modal-option-wrapper div {
  display: flex;
  justify-content: space-between;
  padding: 0 37px;
  font-family: 'Proto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

@media (max-width: 1450px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  .subcontainer {
    max-width: 100%;
    width: 100%;
  }

  .aside {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    margin-bottom: 22px;
  }

  .button {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .progress-container {
    max-width: calc(100% - 20px);
    flex-direction: column;
  }

  .timer {
    width: 100%;
    max-width: calc(100% - 21px);
  }
}

@media (max-width: 550px) {
  .modal-container {
    width: 75%;
  }
}